In [1]:
# -*- coding: utf-8 -*-

# Python'da Değişkenler

## 1. Nümerik değerler

In [5]:
x = 3
x

3

In [6]:
type(x)

int

In [7]:
y = x * 2

In [8]:
type(y)

int

In [9]:
x = 3.

In [10]:
type(x)

float

In [11]:
x

3.0

In [12]:
y = x * 2

In [13]:
y

6.0

In [14]:
type(y)

float

### Temel aritmetik operasyonları

In [18]:
print('3 + 2 = ', 3 + 2)
print('3 - 2 = ', 3 - 2)
print('3 * 2 = ', 3 * 2)
print('3 / 2 = ', 3 / 2)
print('3 ** 2 = ', 3 ** 2)

3 + 2 =  5
3 - 2 =  1
3 * 2 =  6
3 / 2 =  1.5
3 ** 2 =  9

### İşlem önceliği

In [19]:
print('3 * 2 + 4 = ', 3 * 2 + 4)
print('3 * (2 + 4) = ', 3 * (2 + 4))
print('3 ** 2 * 4 = ', 3 ** 2 * 4)
print('3 ** (2 * 4) = ', 3 ** (2 * 4))
print('6 - 4 - 1 = ', 6 - 4 - 1)

3 * 2 + 4 =  10
3 * (2 + 4) =  18
3 ** 2 * 4 =  36
3 ** (2 * 4) =  6561
6 - 4 - 1 =  1

### Mod işlemi

In [20]:
print('13 mod 9 = ', 13 % 9)
print('20 mod 9 = ', 20 % 9)
print('8 mod 9 = ', 8 % 9)
print('1 mod 9 = ', 1 % 9)
print('13 mod 2 = ', 13 % 2)

13 mod 9 =  4
20 mod 9 =  2
8 mod 9 =  8
1 mod 9 =  1
13 mod 2 =  1

## Metinsel değişkenler

In [22]:
s1 = '1837'
print('s1 = ', s1)
s2 = '837'
print('s2 = ', s2)

s1 =  1837
s2 =  837

In [26]:
print('type of s1 is', type(s1))
print('type of s2 is', type(s2))

type of s1 is <class 'str'>
type of s2 is <class 'str'>

In [27]:
print(s1 + s2)

1837837

### Veri dönüşümleri

In [29]:
i1 = int(s1)
i2 = int(s2)
print(i1 + i2)

2674

In [37]:
s3 = 0
s4 = 5325320532
s3 = str(s3)
print(s3)

0

In [38]:
s3 + s4

TypeError: Can't convert 'int' object to str implicitly

In [69]:
s4 = str(s4)
'telefonum ' + s3 + s4

'telefonum 05325320532'

### Metin yerleştirme

In [70]:
taslak = 'telefonum %s'
sonuc  = taslak % s4
print(sonuc)

telefonum 5325320532

In [54]:
taslak = 'telefonum %s%s'
sonuc  = taslak % (s3,s4)
print(sonuc)

telefonum 05325320532

In [61]:
taslak = 'ara beni %s%s :)))'
print(taslak % (s3,s4))

ara beni 05325320532 :)))

In [68]:
taslak = 'ara beni :))) \n%s%s \n:)))'
print(taslak % (s3,s4))

ara beni :)))
05325320532
:)))

In [71]:
# integer ile
boy  = 176
kilo = 60
taslak = 'boyum %i, %i kiloyum, bekarım'
print(taslak % (boy,kilo) )

boyum 176, 60 kiloyum, bekarım

In [72]:
# float ile
bmi = kilo ** 2 / boy
print('bu arada boy kitle endeksim de %f uuuuuuuv!!!' % bmi)

bu arada boy kitle endeksim de 20.454545 uuuuuuuv!!!

In [60]:
taslak = 'telefonum %f'
print(taslak % s4)

telefonum 5325320532.000000

### Stringler üzerine operasyonlar

In [1]:
s = 'Minareden At beni, in aşağı Tut beni'
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.isalpha())
print(s.isnumeric())
print(s.isdigit())
print(s.startswith('s'))
print(s.endswith('!'))
print(s.startswith('ah'))
print(s.split())
print(s.split(' '))
print(s.strip())
print(s.rstrip())
print(s.lstrip())

MINAREDEN AT BENI, IN AŞAĞI TUT BENI
minareden at beni, in aşağı tut beni
Minareden at beni, in aşağı tut beni
False
False
False
False
False
False
['Minareden', 'At', 'beni,', 'in', 'aşağı', 'Tut', 'beni']
['Minareden', 'At', 'beni,', 'in', 'aşağı', 'Tut', 'beni']
Minareden At beni, in aşağı Tut beni
Minareden At beni, in aşağı Tut beni
Minareden At beni, in aşağı Tut beni

In [3]:
print(s[0:8], "(0'dan 8'e)")
print(s[1:8], "(1'den 8'e)")
print(s[:8], "(baştan dan 8'e)")

Minarede (0'dan 8'e)
inarede (1'den 8'e)
Minarede (baştan dan 8'e)

In [4]:
print(s[9:17], "(9'dan 17'ye)")
print(s[9:1100], "(9'dan 1100'e)")
print(s[9:], "(9'dan sona)")

 At beni (9'dan 17'ye)
 At beni, in aşağı Tut beni (9'dan 1100'e)
 At beni, in aşağı Tut beni (9'dan sona)

In [5]:
print(s)
print(s[4:13], "(4'ten 13'e)")
print(s[4:-5], "(4'ten sondan 5 önceye)")

Minareden At beni, in aşağı Tut beni
reden At  (4'ten 13'e)
reden At beni, in aşağı Tut (4'ten sondan 5 önceye)

In [6]:
s.index('At beni')

10

In [7]:
ind = s.index('At beni')
s[ind:]

'At beni, in aşağı Tut beni'

In [8]:
s.replace('Minareden','Isengard\'dan')

"Isengard'dan At beni, in aşağı Tut beni"